<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/detalhesProntuario.css">
        <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
        <title>Toothmanager</title>
    </head>
    <body>
            <!-- button-menu-hamburguer -->
            <input type="checkbox" id="check">
            <label for="check" class="menu-hamburgue">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>
            <!-- sidebar -->
            <%- include('./partials/sidebar')%>

            <!-- <main> coloque seu codigo abaixo da REFERENCIA -->
        <main>
                <!-- Busca -->
            <div class="search-container">
                <div class="title-pagina">
                    <h1>Prontuario</h1>
                </div>
                <form action="#" method="get">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
                <!-- Prontuario -->
            <% if ( messages.message ) { %>
            <div class="flash"><%= messages.message %></div>
        <% } %>
                        <label for="">Nome:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.nome%></span>
                        <label for="">Horário:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.time%></span>
                        <label for="">Atendimento:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.atendimento%></span>
                        <label for="">Dentista:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.dentista%></span>
                        <label for="">Tratamento:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.tratamento%></span>
                        <label for="">Extração:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.extração%></span>
                        <label for="">Limpeza:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.limpeza%></span>
        </main>
    </body>
</html>