<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/detalhesProntuario.css">
        <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
        <title>Toothmanager</title>
    </head>
    <body>
            <!-- button-menu-hamburguer -->
            <input type="checkbox" id="check">
            <label for="check" class="menu-hamburgue">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>
            <!-- sidebar -->
            <%- include('./partials/sidebar')%>

            <!-- <main> coloque seu codigo abaixo da REFERENCIA -->
        <main>
                <!-- Busca -->
            <div class="cabecalho-container">
                <div class="title-pagina">
                    <h1>Prontuario</h1>
                </div>
            </div>
                <!-- Prontuario -->
            <% if ( messages.message ) { %>
            <div class="flash"><%= messages.message %></div>
        <% } %>
                <div class="container-detalhes">
                    <h1>Prontuario do Paciente</h1>

                    <div class="box-detalhes">
                    
                    <div>
                        <label for="">Nome:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.nome%></span>
                    </div>
                    <div>
                        <label for="">Horário:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.time%></span>
                    </div>
                    <div>
                        <label for="">Atendimento:</label>
                        <p type="text" name="hora" value=""><%= prontuarios.atendimento%></p>
                    </div>
                    <div>
                        <label for="">Dentista:</label>
                        <span type="text" name="hora" value=""><%= prontuarios.dentista%></span>
                    </div>
                    <div>
                        <label for="">Tratamento:</label>
                        <p type="text" name="hora" value=""><%= prontuarios.tratamento%></p>
                    </div>
                    <div>
                        <label for="">Extração:</label>
                        <p type="text" name="hora" value=""><%= prontuarios.extração%></p>
                    </div>
                    <div>
                        <label for="">Limpeza:</label>
                        <p type="text" name="hora" value=""><%= prontuarios.limpeza%></p>
                    </div>

                </div>

                </div>
        </main>
    </body>
</html>