<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/cadastro.css">
        <!-- SCRPIT -->
        <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
        <title>Toothmanager</title>
    </head>
    <body>
        <!-- button-menu-hamburguer -->
        <input type="checkbox" id="check">
        <label for="check" class="menu-hamburgue">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>
        <!-- <main> coloque seu codigo abaixo da REFERENCIA -->
        <main>
            <!-- Busca -->
            <div class="cabecalho-container">
                <div class="title-pagina">
                    <h1>Editar Cadastro</h1>
                </div>
            </div>
            <!-- REFERENCIA -->
            <% if ( messages.message ) { %>
            <div class="flash"><%= messages.message %>
            </div>
            <% } %>
            <div class="container-cadastro">
                <form action="/cadastro/editCadastros/<%= cadastros.id%>" method="POST">
                    <div class="dados-pessoais">
                        <h2>Editar Cadastro</h2>
                         <input type="hidden" name="id" value="<%= cadastros.id%>">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome" id="Nome" placeholder="Nome Completo" required value="<%= cadastros.nome%>">
                        <label for="CPF">CPF</label>
                        <input type="text" name="cpf" id="CPF" placeholder="000 000 000 00" required value="<%= cadastros.cpf%>">
                        <label for="">Sexo</label>
                        <label for="mas">Masculino</label>
                        <input type="radio" name="sexo" VALUE="Masculino" id="mas" value="<%= cadastros.sexo%>">
                        <label for="fem">Feminino</label>
                        <input type="radio" name="sexo" VALUE="Feminino" id="fem" value="<%= cadastros.sexo%>">
                        <label for="celular">Celular</label>
                        <input type="text" name="celular" id="celular-cadastro" value="<%= cadastros.celular%>">
                        <label for="">E-mail</label>
                        <input type="email" name="email" id="email-cadastro" value="<%= cadastros.email%>">
                        <label for="">Data de Nascimento</label>
                        <input name="dataNacimento" type="date">
                    </div>
                    <!-- ============== -->
                    <div class="endereco">
                        <h2>Endereço</h2>
                        <label for="cep">CEP</label>
                        <input type="text" name="cep" placeholder="12345-000" id="CEP" value="<%= cadastros.cep%>">
                        <label for="endereço">Rua</label>
                        <input type="text" name="rua" placeholder="Rua ou Logradouro" id="endereco" value="<%= cadastros.rua%>">
                        <label for="bairro">Bairro</label>
                        <input type="text" name="bairro" placeholder="Bairro" id="bairro" value="<%= cadastros.bairro%>">
                        <label for="Numero">Numero</label>
                        <input type="text" name="numero" placeholder="256" id="bairro" value="<%= cadastros.numero%>">
                        <label for="Complemento">Complemento</label>
                        <input type="text" name="complemento" placeholder="" id="bairro" value="<%= cadastros.complemento%>">
                        <label for="cidade">Cidade</label>
                        <input type="text" name="cidade" placeholder="Cidade" id="cidade" value="<%= cadastros.cidade%>">
                        <label for="estado" id="uf">Estado</label>
                        <select name="estado" id="estado">
                            <option value="0">Selecione</option>
                            <optgroup label="Norte"></optgroup>
                            <option value="AC">AC</option>
                            <option value="AM">AM</option>
                            <option value="AP">AP</option>
                            <option value="PA">PA</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="TO">TO</option>
                            <optgroup label="Nordeste"></optgroup>
                            <option value="MA">MA</option>
                            <option value="PI">PI</option>
                            <option value="CE">CE</option>
                            <option value="RN">RN</option>
                            <option value="PB">PB</option>
                            <option value="PE">PE</option>
                            <option value="AL">AL</option>
                            <option value="SE">SE</option>
                            <option value="BA">BA</option>
                            <optgroup label="Centro-Oeste"></optgroup>
                            <option value="MT">MT</option>
                            <option value="DF">DF</option>
                            <option value="GO">GO</option>
                            <option value="MS">MS</option>
                            <optgroup label="Sul"></optgroup>
                            <option value="PR">PR</option>
                            <option value="SC">SC</option>
                            <option value="RS">RS</option>
                            <optgroup label="Suldeste"></optgroup>
                            <option value="MG">MG</option>
                            <option value="SP">SP</option>
                            <option value="RJ">RJ</option>
                            <option value="ES">ES</option>
                        </select>
                    </div>
            </div>
            <div class="button-cadastrar">
                <button type="submit" id="cadastro">Salvar</button>
            </div>
            </form>
            </div>
        </main>
    </body>
</html>