<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/listaProntuario.css">
        <!-- script -->
        <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
        <title>Toothmanager</title>
    </head>
    <body>
        <!-- button-menu-hamburguer -->
        <input type="checkbox" id="check">
        <label for="check" class="menu-hamburgue">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>
        <!-- <main> coloque seu codigo dentro desta tag -->
        <main>
            <!-- barra de busca -->
            <div class="search-container">
                <div class="title-pagina">
                    <h1>Prontuario</h1><!-- trocar o titulo para o respectivo -->
                </div>
                <form action="#" method="get">
                    <input type="text" placeholder="Buscar paciente.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- Prontuario -->
            <% if ( messages.message ) { %>
            <div class="flash"><%= messages.message %></div>
            <% } %>
            <div class="container-cards">
                <div class="subtitulo">
                    <h2>Editar Prontuários</h2>
                </div>
                <div class="container-criarPront">
                    <form action="/prontuarios/editProntuarios" method="POST">
                        <input type="hidden" name="id" value="<%= prontuarios.id%>">
                        <label for="">Nome:</label>
                        <input type="text" name="hora" value="<%= prontuarios.nome%>">
                        <label for="">Horário:</label>
                        <input type="text" name="hora" value="<%= prontuarios.time%>">
                        <label for="">Atendimento:</label>
                        <input type="text" name="hora" value="<%= prontuarios.atendimento%>">
                        <label for="">Dentista:</label>
                        <input type="text" name="hora" value="<%= prontuarios.dentista%>">
                        <label for="">Tratamento:</label>
                        <input type="text" name="hora" value="<%= prontuarios.tratamento%>">
                        <label for="">Extração:</label>
                        <input type="text" name="hora" value="<%= prontuarios.extração%>">
                        <label for="">Limpeza:</label>
                        <input type="text" name="hora" value="<%= prontuarios.limpeza%>">
                        <input type="submit" value="Editar Prontuario">
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>