<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/agenda.css">
        <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
        <title>Toothmanager</title>
    </head>
        <% if ( messages.message ) { %>
        <div class="flash">
            <%= messages.message %>
        </div>
        <% } %>
    <body>
        <!-- button-menu-hamburguer -->
        <input type="checkbox" id="check">
        <label for="check" class="menu-hamburgue">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>
        <!-- <main> coloque seu codigo dentro desta tag -->
        <main>
            <!-- BUSCA -->
            <div class="cabecalho-container">
                <div class="title-pagina">
                    <h1>Editar Agendamento</h1>
                </div>
            </div>
            <!-- AGENDA -->
            <div class="container-agenda">
                <form action="/agendamentos/editAgendamento" method="POST">
                    <input type="hidden" name="id" value="<%= agenda.id%>">
                    <label for="Paciente" name="cliente" id="cliente"><strong>Hora:</strong></label>
                    <input type="text" name="hora" value="<%= agenda.hora%>">
                    <label for="Paciente" name="cliente" id="cliente"><strong>Data:</strong></label>
                    <input type="text" name="data" value="<%= agenda.data%>">
                    <label for="Paciente" name="cliente" id="cliente"><strong>Nome:</strong></label>
                    <input type="text" name="nome" value="<%= agenda.nome%>">
                    <input type="submit" value="Editar Agendamento">
                </form>
            </div>
        </main>
    </body>
</html>