<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/listaProntuario.css">
        <!-- script -->
        <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
        <title>Toothmanager</title>
    </head>
    <body>
        <!-- button-menu-hamburguer -->
        <input type="checkbox" id="check">
        <label for="check" class="menu-hamburgue">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>
        <!-- <main> coloque seu codigo dentro desta tag -->
        <main>
            <!-- barra de busca -->
            <div class="cabecalho-container">
                <div class="title-pagina">
                    <h1>Prontuario</h1><!-- trocar o titulo para o respectivo -->
                </div>
            </div>
            <!-- Prontuario -->
            <% if ( messages.message ) { %>
            <div class="flash"><%= messages.message %></div>
            <% } %>
            <div class="container-cards">
                <div class="subtitulo">
                    
                </div>
                <div class="container-criarPront">
                    <form action="/prontuarios/editProntuarios/" method="POST" class="edit-prontuario">

                        <input type="hidden" name="id" value="<%= prontuarios.id%>">

                        <div>
                            <label for="">Nome:</label>
                            <input type="text" name="nome" value="<%= prontuarios.nome%>">
                        </div>
                        <div>
                            <label for="">Horário:</label>
                            <input type="text" name="time" value="<%= prontuarios.time%>">
                        </div>
                        <div>
                            <label for="">Atendimento:</label>
                            <input type="text" name="atendimento" value="<%= prontuarios.atendimento%>">
                        </div>
                        <div>
                            <label for="">Dentista:</label>
                            <input type="text" name="dentista" value="<%= prontuarios.dentista%>">
                        </div>
                        <div>
                            <label for="">Tratamento:</label>
                            <input name="tratamento" id="" cols="50" rows="5" value="<%= prontuarios.tratamento%>"></input>
                        </div>
                        <div>
                            <label for="">Extração:</label>
                            <input name="extracao" id="" cols="50" rows="5" value="<%= prontuarios.extracao%>" >
                                <%= prontuarios.extracao%>
                            </input>
                        </div>
                        <div>
                            <label for="">Limpeza:</label>
                            <input name="limpeza" id="" cols="50" rows="5" value="<%= prontuarios.limpeza%>" ></input>
                        </div>
                        <input type="submit" value="Salvar" class="btn-editar">
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>