<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/listaProntuario.css">
        <!-- script -->
        <script src="https://kit.fontawesome.com/7491f3e6c6.js" crossorigin="anonymous"></script>
        <title>Toothmanager</title>
    </head>
    <body>
        <!-- button-menu-hamburguer -->
        <input type="checkbox" id="check">
        <label for="check" class="menu-hamburgue">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>
        <!-- <main> coloque seu codigo dentro desta tag -->
        <main>
            <!-- barra de busca -->
            <div class="cabecalho-container">
                <div class="title-pagina">
                    <h1>Lista de Pacientes</h1><!-- trocar o titulo para o respectivo -->
                </div>
            </div>
            <!-- Prontuario -->
            <% if ( messages.message ) { %>
            <div class="flash"><%= messages.message %></div>
            <% } %>
            <div class="container-cards">
                <div class="subtitulo">
                    <h2>Pacientes</h2>
                </div>
                <a href="/cadastro">Cadastrar Pacientes</a>
                <br>
                <% pacientes.forEach((pacientes) => { %>
                    <div class="cards-pront">
                        <label for=""><strong>ID:</strong></label>
                        <span><%= pacientes.id %></span>
                        <label for=""><strong>Nome:</strong></label>
                        <span><%= pacientes.nome %></span>
                        <label for=""><strong>Sexo:</strong></label>
                        <span><%= pacientes.sexo %></span>
                        <label for=""><strong>Celular:</strong></label>
                        <span><%= pacientes.celular %></span>
                        <form action="/listaPacientes/remove/<%= pacientes.id%>" method="POST">
                            <input type="hidden" name="id" value="<%= pacientes.id%>">
                            <button type="submit" class="btn">Deletar</button>
                            <button class="btn"><a href="/cadastro/editCadastros/<%= pacientes.id%>">Editar</a></button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </main>
    </body>
</html>